<div class="review">
    <h3>はなくその味ってみんな同じなのか知りたかった</h3>
    <p class="author">評価者　小学生</p>
    <p class="date">閲覧日　2017/08/04</p>
    <h4 class="first">目的達成度　★★★★★ 4.5</h4>
    <h4>見やすさ　　★★★★★ 4.5</h4>
    <h4>誤字脱字数　6箇所</h4>
    <div class="typo">
        <div class="incorrect">
            <h3>✕ 誤</h3>
            <div class="typo_list">
                <h4>花</h4>
                <h4>花</h4>
                <h4>花</h4>
                <h4>花</h4>
                <h4>花</h4>
                <h4>花</h4>
            </div>
        </div>
        <div class="correct">
            <h3>⭕ 正</h3>
            <div class="typo_list">
                <h4>鼻</h4>
                <h4>鼻</h4>
                <h4>鼻</h4>
                <h4>鼻</h4>
                <h4>鼻</h4>
                <h4>鼻</h4>
            </div>
        </div>
    </div>
    <h4>記述評価</h4>
    <div class="doc">
        <h4>はなくその味がみんなみんな同じなのかすごくきになって夜も眠れなかったので調べました。このサイトにはいろんなひとがその味について書き込んでいるのですが、各々のブツの味について語られていてどんな味のバリエーションがあるかまでわかりました。👍</h4>
    </div>
    <div class="res">
        <span id="posted">投稿日　2017/08/04</span>
        <span>参考に...
            <form class="recommend" name="レビュー１" method="post" action></form>
            <input type="submit" value="なった👍" name="recommend">1?
            <input type="submit" value="ならなかった👎" name="recommend">1?</span>
    </div>
    <form id="res_button" action method="get" target="_blank">
        <div class="input_dengerous">
            <input type="submit" value="通報する" name="dengerous">
        </div>
        <div class="input_comment">
            <input type="submit" value="コメントする" name="comment">
        </div>
    </form>
</div>

<h3>コメント</h3>

<div class="comment">
    <div class="review">
        <p class="author">投稿者　大先輩</p>
        <h4>そうだよ（便乗）</h4>
        <div class="res">
            <span id="posted">投稿日　2017/08/04</span>
            <span>参考に...
                <form class="recommend" name="レビュー１のコメント１" method="post" action></form>
                <input type="submit" value="なった👍" name="recommend">1?
                <input type="submit" value="ならなかった👎" name="recommend">1?</span>
        </div>
        <form id="res_button" action method="get" target="_blank">
            <div class="input_dengerous">
                <input type="submit" value="通報する" name="dengerous">
            </div>
            <div class="input_comment">
                <input type="submit" value="コメントする" name="comment">
            </div>
        </form>
    </div>
</div>
